body 
{
    background-color:Gray;
}
.menu {
	width: 1350px;
	height: 70px;
	font-size:small;
margin-bottom:4%;
	background-image:url(img02.png); background-repeat:no-repeat;
}
.menu1 {
	width: 900px;
	height: 700px;
	margin-top:8%;
    border-style:double;
    border-color:Black;
	font-size:small;
	margin: 0 auto;
	float:down;
	background-color:white;
}
#footer {
	clear: both;
	width: 870px;
	height: 50px;
	margin: 0 auto;
	padding: 35px 45px;
	
}
 .Box4
{
    background-color:red;
    width:300px;
    height:700px;
   float:left;
    
     margin-left:2%;
     
    border-style:double;
    border-color:Black;
    
    } 
#footer .main1 
{
    color:Green;
	width: 50px;
	height: 100px;
	margin: 0 auto;
}

#footer p {
	margin: 0;
	line-height: normal;
	color: #B4B4B4;
}

#footer a {
	color: #B4B4B4;
}

#footer .legal {
	float: left;
}

#footer .credit {
	float: right;
}
  .Box5
    {
    background-color:Purple; width:1300px;
    height:50px;
    border-color:Black;
    border-style:double;
    margin-top:2%;
    }